.button {
  background-color: rgb(66, 142, 255);
  border-radius: 20% 20%;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(41, 90, 163);
}
