.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: solid 2px;
  font-family: "Poetsen One", sans-serif;

  display: flex;
  justify-content: space-around;
  font-size: 120%;
}
.registerUser {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
.registerUser a {
  text-decoration: none;
}
.user {
  width: 28%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-weight: 500;
  font-size: 150%;
  font-family: "Poetsen One", sans-serif;
}
.user p {
  font-weight: 400;
}
.links {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  transform: translateY(-2px);
  color: rgb(237, 188, 64);
  text-decoration: underline 2px rgb(237, 188, 64);
}
